@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* footer-first */

.footer {
    background-color: #0096FF;
    height: 150px;
    width: 100%;
}

.footer .footer-copyright {
    position: fixed;
}

.container-footer {
    max-width: 1270px;
    margin: auto;
    overflow: hidden;
}

.footer-list {
    float: left;
    padding: 8px;
    overflow: hidden;
    height: 100%;
    width: 160px;
}

.footer-list .icons {
    max-width: 25px;
    float: left;
    height: 132px;
}

.footer-list .icons li i {
    margin-top: 5px;
    margin-left: -15px;
}

.footer-list .icons li #info-icon {
    margin-left: -8px;
}

.footer-list li {
    list-style-type: none;
    margin: 16px 18px;
    color: #ffffff;
}

.footer-list .links {
    float: left;
    width: 115px;
    height: 100%;
}

.footer-list .links a {
    text-decoration: none;
    color: #ffffffff;
    margin-left: -10px;
    font-size: 18px;
    display: block;
    transition: all 0.3s ease;
}

.footer-list .links a:hover {
    color: #FEFBF6;
    padding-left: 10px;
}

.footer-logo {
    float: right;
    padding: 8px;
}

.footer-logo h1 {
    margin: 45px 18px;
    color: black;
}

.footer-logo span a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-logo span a:hover {
    color: red;
    padding-left: 10px;
}

.footer-copyright {
    background-color: black;
    height: 25px;
    width: 100%;
}

.footer-copyright p {
    color: #fff;
    text-align: center;
}
/* footer end */

/* main */
.bg-img{
    position: relative;
    height: 150px;
}
.bg-img:before{
    position: absolute;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url(./image/background.jpg);
    background-position: center;
    background-size: cover;
}
.main > h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    animation: zoom-in 2s;
}
/* end main */

/* first media */


/* layar device ukuran kecil */

@media screen and (min-width: 375px) {
    /* footer first media */
    .container-footer {
        width: 90%;
    }
    .footer-list .icons li i {
        font-size: 11px;
    }
    .footer-list .links li a {
        font-size: 14px;
        margin-top: 19px;
    }
    .footer-logo h1 {
        font-size: 20px;
    }
    .footer-copyright p {
        font-size: 12px;
    }
    .bg-img{
        margin-top: 60px;
    }
    .main > h1{
        font-size: 16px;
    }
    /* footer end media */
}


/* layar device ukuran sedang */

@media screen and (min-width: 550px) {
    /* footer first media */
    .bg-img{
        height: 250px;
    }
    .main > h1{
        font-size: 32px;
    }
    .container-footer {
        width: 85%;
    }
    .footer-list .icons li i {
        font-size: 14px;
    }
    .footer-list .links li a {
        font-size: 15px;
        margin-top: 19px;
    }
    .footer-logo h1 {
        font-size: 24px;
    }
    .footer-copyright p {
        font-size: 14px;
    }
    /* footer end media */
}


/* layar device ukuran besar */

@media screen and (min-width: 800px) and (max-width: 1120px) {
    /* footer first media */
    .bg-img{
        height:500px;
    }
    .main > h1{
        font-size: 72px;
    }
    .container-footer {
        width: 80%;
    }
    .footer-list .icons li i {
        font-size: 16px;
    }
    .footer-list .links li a {
        font-size: 16px;
        margin-top: 19px;
    }
    .footer-logo h1 {
        font-size: 28px;
    }
    .footer-copyright p {
        font-size: 16px;
    }
    /* footer end media */
}


/* end media */

/* start header */
body {
    margin: 0;
    font-family: "Trebuchet MS";
}

header {
    height: 75px;
    width: 100%;
    background-color: #52bab5;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
    padding-left:30px;
}

.navbar {
    float:right;
    overflow: hidden;
    padding-right:30px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height:75px;
    padding-left:20px;
    padding-right:20px;
}

.dropdown {
    float: left;
    overflow: hidden;
    transition: all 0.5s;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    line-height: 75px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #289e98;
    transition: all 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    transition: all 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.5s;
    animation: growDown 300ms ease-in-out;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

.navbar .active {
    text-decoration:underline;
    background-color: #28afa8;
}

.menu-icon {
    float:right;
    line-height:75px;
    font-size:25pt;
    color:black;
    padding-right:30px;
    display:none;
}

@media screen and (max-width: 740px) {
    .navbar {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}
/* end header */

/* Body Team Us */
.bg-team{
    background-color: #3FADA8;
    margin-bottom: 1rem;
}
.container-full{
    width: 100%;
    min-height: 300px;
}
.row {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.title {
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
}
.title h1 {
    color: white;
    text-transform: uppercase;
}
.title hr{
        
    width: 30vw;
    border: 2px solid white;
}
.row-card{
    padding-left: 3.8vw;
    padding-right: 3.8vw;
    align-items: center;
}
.card {
    width: 25vw;
    height: 24vw;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.card-body{
    width: 100%;
    height: 100%;
}
.card-image-rounded{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10vw;
    height: 10vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}
.card-image-rounded:hover{
    border: 1px solid #fff;
    padding: 1px;

}
.card-title {
    font-size: 1.1vw;
    color: #fff;
    
}
.card-text {
    font-size: 1vw;
    color: #fff;
    text-align: justify;
}
/* Body Team us End */

@media screen and (min-width:670px){
    .bg-img{
        height: 300px;
    }
    .main > h1{
        font-size: 32px;
    }
}
@media screen and (min-width:1000px){
    .bg-img{
        height:500px;
    }
    .main > h1{
        font-size: 72px;
    }
}

  
  @keyframes zoom-in {
    0% {
      transform: translate(-50%,-50%) scale(0, 0);
      transform-origin: center;

    }
    100% {
      transform: translate(-50%,-50%) scale(1, 1);
      transform-origin: center;
    }
  }